# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Rstudio
3. Julia

*Objectives*
* Basic Language
* Python
* GitHub
* Rstudio
* Numpy

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-Learn
2. Numpy
3. Caret

|Data Science Tool|
|-----------------|
|SQL database|
|MongoDB|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Muhammad Talha